/* ========== All common css start=========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.4;
}

/* ========== All common CSS section END=========== */

/* font-family: "Be Vietnam Pro", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* font-family: "Outfit", sans-serif; */
/* font-family: "Poppins", sans-serif; */


/* ========== header CSS section start=========== */
.navbar-nav .nav-item .nav-link {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #36B864;
    text-shadow: 0.5px 0 0 #36B864;
}

.primaryBtn {
    background: #36B864;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 12px 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.primaryBtn {
    background: #36B864;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    transition: .4s;
}

.primaryBtn:hover {

    background: transparent;
    border: 1px solid #666666;
    color: #111D15;
}

.cardBtn i {
    transform: rotate(-45deg);
    margin-left: 10px;


}

/* ========== header CSS section END=========== */

/* ========== hero section CSS section start=========== */
#hero {
    background: url("../images/HeroIamge.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.bannerContent {
    padding: 104px 0;
}

.bannerContent h5 {

    font-size: 20px;
    font-weight: 400;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 12px;

}

.bannerContent h1 {

    font-size: 52px;
    font-weight: 700;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 24px;
    line-height: 115%;
    width: 610px;
}

.bannerContent p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 40px;
    line-height: 30px;
    width: 543px;
}

.bannerBtn a {
    margin-right: 20px;
}

/* ========== hero CSS section END=========== */

/* ========== Services sction start=========== */
#servicePart {
    padding: 100px 0;
}

.serviceText h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 120%;
    width: 536px;
    text-transform: capitalize;

}

.serviceDescription {
    margin-bottom: 60px;
}

.serviceDescription h5 {

    font-size: 20px;
    font-weight: 600;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;


}

.serviceDescription p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 150%;
    width: 433px;
}

.line {
    border-top: 1px solid #83A790;
}

.cardItem {
    margin-top: 40px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 16px;
}

.card-text {

    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 150%;
    width: 370px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* ========== Services section end=========== */

/* ========== quotePart sction start=========== */
#quotePart {
    padding: 75px 0;
}

.quoteContent h6 {
    font-size: 16px;
    font-weight: 400;
    color: #111D15;
    font-family: "Lato", sans-serif;

}

.quoteContent h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Outfit", sans-serif;
    line-height: 120%;
    width: 527px;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 32px;
}

.quoteContent p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    width: 516px;
    margin-bottom: 52px;
}

.quoteImg {
    margin-left: 70px;
    position: relative;
}

.quoteImgbg {
    position: absolute;
    height: 293px;
    width: 285px;
    border-radius: 15px;
    background: #36B864;
    top: -25px;
    right: 13px;
}

.quoteImg-one img {
    position: absolute;
    height: 284px;
    width: 283px;
    border-radius: 15px;
    top: 9px;
    left: -8px;
}

.quoteImgbg2 {
    position: absolute;
    height: 198px;
    width: 173px;
    border-radius: 15px;
    background: #FFFFFF;
    top: 110px;
    right: 170px;
}

.quoteImg-two img {
    position: absolute;
    height: 198px;
    width: 173px;
    border-radius: 15px;
    z-index: 3;
    top: 9px;
    left: -9px;
}

/* ========== quotePart section end=========== */

/* ========== expertTitle sction start=========== */
.expertTitle h3 {
    width: 610px;

}

.expertDescription {
    margin-left: 110px;
}

.expartTeam {
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    transition: .4s;
    overflow: hidden;
}

.expartTeam:hover {
    border-color: #83A790;
}

.expartContent {
    padding: 20px;
}

.expartContent h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
}

.expartContent .star i {
    color: #FF9800;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.expartContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 299px;
}

.expartContent .social i {
    margin-right: 24px;
    font-size: 20px;
    color: #111D15;
}

/* ========== expertTitle section end=========== */

/* ========== header CSS section start=========== */
#company {
    padding: 75px 0;
}

.companyImg {
    margin-right: 236px;
    position: relative;
}

.companyImgbg {
    position: absolute;
    height: 293px;
    width: 285px;
    border-radius: 15px;
    background: #36B864;
    top: -25px;
    right: 13px;
}

.companyImg-one img {
    position: absolute;
    height: 284px;
    width: 283px;
    border-radius: 15px;
    top: 9px;
    left: -8px;
}

.companyImgbg2 {
    position: absolute;
    height: 198px;
    width: 173px;
    border-radius: 15px;
    background: #FFFFFF;
    top: 110px;
    right: 170px;
}

.companyImg-two img {
    position: absolute;
    height: 198px;
    width: 173px;
    border-radius: 15px;
    z-index: 3;
    top: 9px;
    left: -9px;
}

.companyContent h6 {
    font-size: 16px;
    font-weight: 400;
    color: #111D15;
    font-family: "Lato", sans-serif;

}

.companyContent h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Outfit", sans-serif;
    line-height: 120%;
    width: 527px;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 32px;
}

.companyContent p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    width: 516px;
    margin-bottom: 52px;
}

.companyBtnTow {
    margin-left: 24px;
}

/* ========== header CSS section END=========== */

/* ========== price CSS section start=========== */
#pricePart {
    background: url("../images/priceBacground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 93px;
    padding-bottom: 300px;
}

.priceContent {
    text-align: center;
    color: #fff;
}

.priceContent h5 {
    font-size: 20px;
    font-weight: 400;
}

.priceContent h3 {
    font-size: 44px;
    font-weight: 600;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 551px;
    line-height: 120%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 36px;
}

.priceToggle {
    background: #F4F5F8;
    padding: 6px 8px;
    margin: 0 auto;
    border-radius: 200px;
    display: inline-block;
}

.priceToggle .monthly {
    background: #36B864;
    font-size: 20px;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 7px 22px;
    border-radius: 200px;
    color: #fff;
    margin-right: 10px;
}

.priceToggle .yearly {
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 7px 22px;
    border-radius: 200px;
    color: #111D15;
}

.priceCardParent {
    position: relative;
    margin-top: 40px;
}

.priceCard {
    background: #fff;
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px 35px;
    position: absolute;
    z-index: 10;
    transition: .4s;
}

.priceCard:hover {

    box-shadow: 0 5px 20px 0 rgba(24, 1, 1, 0.5);
    transform: scaleY(1.02);
    transform-origin: top;
}

.unOrder {
    padding-left: 35px;
}

.priceCard h5 {
    font-size: 20px;
    font-weight: 500;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    text-transform: uppercase;

}

.priceCard h3 {
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 20px 40px;
}

.priceTag {
    background: #36B864;
    border-radius: 10px;
}

.priceCard h3 span {

    font-size: 32px;
    font-weight: 700;
    color: #fff;
    font-family: "Be Vietnam Pro", sans-serif;

}

.unOrder {
    margin-top: 36px;
}

.unOrder li {
    color: #666666;
    margin-bottom: 10px;


}

.unOrder li {
    list-style: disc;
}

.unOrder li::marker {

    font-size: 14px;
}

.priceCardBtn {
    text-align: center;
}

.priceCardBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #111D15;

    font-family: "Be Vietnam Pro", sans-serif;
    border: 1px solid #666666;
    padding: 20px 110px;
    border-radius: 6px;
    margin-top: 36px;
    transition: .4s;
}

.priceCardBtn a:hover {
    background: #36B864;
    border: 1px solid transparent;
    color: #fff;
}

/* ========== price CSS section END=========== */

/* ========== about CSS section start=========== */
#about {
    padding: 75px 0;
    margin-top: 250PX;
}

.aboutBtnTow {
    margin-left: 12px;
}

.aboutContent h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Outfit", sans-serif;
    line-height: 120%;
    width: 527px;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 24px;
}

.aboutContent p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    width: 516px;
    margin-bottom: 36px;
}

.aboutCard {
    width: 100%;
    min-height: 285px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: #ffffff;
    border-top: 8px solid #36B864;
    border-right: 8px solid #36B864;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;
}

.aboutCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.aboutImg {
    width: 170px;
    height: 224px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
}


.aboutImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.aboutContent {
    flex: 1;
}


.clientInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.clientName h4 {
    margin: 0 0 3px;
    color: #18251e;
    font-size: 20px;
    font-weight: 700;
}


.clientName span {
    color: #777;
    font-size: 16px;
}


.quoteIcon {
    width: 78px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #36B864;
    color: #ffffff;
    border-radius: 4px;
    font-size: 60px;
}
.rating {
    margin: 8px 0;
}

.rating i {
    color: #ff9800;
    font-size: 12px;
    margin-right: 2px;
}

.about-right-content p {
    max-width: 330px;
    margin: 0;
    color: #777;
    font-size: 16px;
    line-height: 1.6;
}


/* ========== testimonial card end ========== */
/* ========== about CSS section END=========== */

/* ========== header CSS section start=========== */
/* ========== header CSS section END=========== */

/* ========== header CSS section start=========== */
/* ========== header CSS section END=========== */

/* ========== header CSS section start=========== */
/* ========== header CSS section END=========== */

/* ========== quotePart sction start=========== */
/* ========== quotePart section end=========== */
/* ========== Services sction start=========== */
/* ========== Services section end=========== */



/* ========== fotter CSS section start=========== */
#fotterPart {
    background: #111D15;
    color: #FFFFFF;
    padding: 100px 135px 20px 135px;

}

.fotterLogoFlex p {
    font-size: 16px;
    font-weight: 300;
    width: 356px;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 160%;
    opacity: 0.8;
    margin-top: 24px;
}

.footerMenu h5 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    width: 356px;
    margin-bottom: 36px;
    font-family: "Be Vietnam Pro", sans-serif;
}

.footerMenu ul li a {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    opacity: 0.8;
}



.newsletter h5 {
    font-size: 20px;
    font-weight: 600;
    width: 356px;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 107px;
    margin-bottom: 26px;

}

.newsletter input[type="email"] {
    padding: 10px 80px 10px 16px;
    outline: none;
    border-radius: 6px;
    margin-bottom: 26px;
    border: 1px solid #808080;
    background: transparent;
    cursor: pointer;
}

.newsletter input::placeholder {
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    font-family: "Be Vietnam Pro", sans-serif;
}

.copyRight {
    text-align: center;
    border-top: 1px solid #d9d9d9;
}

.copyRight h6 {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    opacity: 0.8;
    margin-top: 24px;
}

.futterBtn:hover {
    background: #F4F5F8;
}

/* ========== fotter CSS section END=========== */